pipeline/ControlPackage_Pip.json
{
	"name": "ControlPackage_Pip",
	"properties": {
		"activities": [
			{
				"name": "GetControlLogExecId",
				"type": "Script",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				},
				"typeProperties": {
					"scripts": [
						{
							"parameters": [
								{
									"name": "ExecID",
									"type": "Int64",
									"value": "0",
									"direction": "Output"
								}
							],
							"type": "Query",
							"text": "SELECT @ExecID=(ISNULL(MAX(ExecId),0)+1) FROM [Audit].[ControlLog]"
						}
					]
				}
			},
			{
				"name": "SetExecId",
				"type": "SetVariable",
				"dependsOn": [
					{
						"activity": "GetControlLogExecId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"variableName": "ExecId",
					"value": {
						"value": "@string(activity('GetControlLogExecId').output.outputParameters.ExecID)",
						"type": "Expression"
					}
				}
			},
			{
				"name": "InsertintoControlLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "SetExecId",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ControlLogInsert]",
					"storedProcedureParameters": {
						"PName": {
							"value": "ControlPackage",
							"type": "String"
						},
						"StartTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"Status": {
							"value": "Running",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "ExecuteDimCurrency",
				"type": "ExecutePipeline",
				"dependsOn": [
					{
						"activity": "InsertintoControlLog",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"pipeline": {
						"referenceName": "DImCurrency_Pip",
						"type": "PipelineReference"
					},
					"waitOnCompletion": true,
					"parameters": {
						"ParentId": {
							"value": "@variables('ExecId')",
							"type": "Expression"
						}
					}
				}
			},
			{
				"name": "UpdateControlLog",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExecuteDimCurrency",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ControlLogUpdate]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PExecId": {
							"value": {
								"value": "@variables('ExecId')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Success",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			},
			{
				"name": "UpdateControlLog_Failure",
				"type": "SqlServerStoredProcedure",
				"dependsOn": [
					{
						"activity": "ExecuteDimCurrency",
						"dependencyConditions": [
							"Failed"
						]
					}
				],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"storedProcedureName": "[dbo].[ControlLogUpdate]",
					"storedProcedureParameters": {
						"EndTime": {
							"value": {
								"value": "@utcNow()",
								"type": "Expression"
							},
							"type": "DateTime"
						},
						"PExecId": {
							"value": {
								"value": "@variables('ExecId')",
								"type": "Expression"
							},
							"type": "Int64"
						},
						"Status": {
							"value": "Failed",
							"type": "String"
						}
					}
				},
				"linkedServiceName": {
					"referenceName": "AzureSqlDatabase",
					"type": "LinkedServiceReference"
				}
			}
		],
		"variables": {
			"ExecId": {
				"type": "String",
				"defaultValue": "0"
			}
		},
		"annotations": [],
		"lastPublishTime": "2022-06-10T23:53:13Z"
	},
	"type": "Microsoft.DataFactory/factories/pipelines"
}